*{
    margin: 0;
    padding: 0;
}

.sidebar{
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.377);
  overflow-x: hidden;
  padding-top: 250px;
  text-align: center;
  background-image: url(https://data.whicdn.com/images/41197244/original.png);
  background-size: cover;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
.sidebar a:hover {
    color: #f1f1f1;
    border: #818181;
  }
  

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    width: 10%;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 15px;
    right: 9px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover {
    background-color:rgba(128, 128, 128, 0.137);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar{
    float: left;
    font-size: 20px;
    color: #818181;
}
.image{
    border-radius: 100%;
    width:50px;
    height: 50px;
}
.main {
    display: block;
    width: 100%;

}
.menu{
    margin-left: 260px; 
    height: 60px;
    width: 81%;
    position: fixed;
    background-image: url(https://data.whicdn.com/images/41197244/original.png);
}
.main-part{
    padding-top: 60px;
    height: 600px;

}