*{
    margin: 0;
    padding: 0;
}
.part1{
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9f0ef0a8-268c-46bc-aa64-a6a2eaa9c29a/d1i6op4-d5ffd6cd-b656-460b-a736-49e98dcbea8e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlmMGVmMGE4LTI2OGMtNDZiYy1hYTY0LWE2YTJlYWE5YzI5YVwvZDFpNm9wNC1kNWZmZDZjZC1iNjU2LTQ2MGItYTczNi00OWU5OGRjYmVhOGUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0udA-m6qFQZXzSWuQEZ5lSP_sy09UHe2DsUazg4te6I);
    background-size: cover;
    width: 100%;
    height: 625px;
    text-align: center;
}
.part1 table{
    margin-top: 150px;
    margin-left: 40%;
}
.image{

    border-radius: 100%;
    width:100px;
    height: 100px;

}
.border{
    border-radius: 20px;
    height: 30px;
    padding-left:20px;
}
.submit{
    background-color:rgb(53, 46, 46);
    color: aliceblue;
    border: 2px solid black;
    width: 100px;
    border-radius: 20px;
    height: 30px;
}
